<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
        <h1>Here Showss all Listings</h1>
        <h3><%= listings.title %></h3>
        <img src="<%= listings.imageUrl %>" alt="">
        <h5><%= listings.price %></h5>
        <h6><%= listings.location %></h6>
        <h5><%= listings.country %></h5> 

        <button>Edit!</button>
</body>
</html>